{:paths ["src"
         "target/generated/java/classes"
         "target/generated/browser"]
 :deps {org.clojure/clojure {:mvn/version "1.11.4"}
        org.clojure/core.cache {:mvn/version "1.2.263"}
        ;; CLJS/DataScript demos use the tested fork directly. JVM Maven
        ;; metadata deliberately does not encode Git dependencies.
        com.github.theronic/cljs-cache
        {:git/url "https://github.com/theronic/cljs-cache.git"
         :git/sha "4143cc036446a47f0c6dfd9f8dde90363835051c"}
        instaparse/instaparse {:mvn/version "1.5.0"}}
 :aliases {:build {:extra-paths ["."]
                   :ns-default build
                   :extra-deps {eacl/build-tools {:local/root "../../src-build"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :exec-fn cognitect.test-runner.api/test
                  :exec-args {:dirs ["test"]}}
           :nrepl {:extra-paths ["test"]
                   :extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
                   :main-opts ["-m" "nrepl.cmdline"]}}}
