{:schema-version 2
 :registry "formal/mutations/registry.edn"
 :mutants 54
 :killed 54
 :survived 0
 :score 1.0
 :status :passed
 :controls
 {:clojure
  {:mutants 46
   :tests 1
   :assertions 146
   :command "EACL_NREPL_PORT=<dev-port> bin/formal mutation-control"}
  :apalache
  {:mutants 8
   :command "bin/formal apalache-mutation-control"}}}
