{:paths       ["src" "resources"]                           ;"ui_src" "ui" "electron_src"]
 :extra-paths ["test"]
 :deps        {org.clojure/clojure     {:mvn/version "1.10.1"}

               ;org.clojure/core.async      {:mvn/version "1.1.587"}
               ring/ring-jetty-adapter {:mvn/version "1.7.1"}
               binaryage/devtools      {:mvn/version "0.9.10"} ;; todo move to dev only.
               io.replikativ/datahike  {:mvn/version "0.3.0"} ;; Ideally should be a pluggable adapter.

               ;reagent                     {:mvn/version "0.9.0-rc2"}

               ;; Frontend
               ;org.clojure/clojurescript   {:mvn/version "1.10.520"}
               ;thheller/shadow-cljs        {:mvn/version "2.8.94"} ;; not used right now.
               ;rum                         {:mvn/version "0.11.4"}
               ;cljs-http                   {:mvn/version "0.1.46"}
               ;clojure-csv/clojure-csv     {:mvn/version "2.0.1"} ;; for demographics test

               ;; Backend:
               ;http-kit                    {:mvn/version "2.3.0"}


               datascript              {:mvn/version "0.18.13"}
               datascript-transit      {:mvn/version "0.3.0"}

               ;com.taoensso/carmine        {:mvn/version "2.20.0-beta2"} ;; For the Redis impl.

               ;;[org.roman01la/citrus "3.0.0" :exclusions [rum]]
               ;com.rpl/specter             {:mvn/version "1.1.3"}
               ;figwheel                    {:mvn/version "0.5.15"}

               ;cljs-bean                   {:mvn/version "1.5.0"}

               ;posh                        {:mvn/version "0.5.5"} ;; until datascript has a reactive query thing
               com.taoensso/timbre     {:mvn/version "4.10.0"}
               ;com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
               ;ring/ring-core              {:mvn/version "1.6.3"}
               expound                 {:mvn/version "0.8.5"}}}
;metosin/reitit              {:mvn/version "0.3.9"}}}
